* {
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: transparent !important;
}

.wrapper {

    padding-top: 20px;
    width: 100%;

}

.nav-link {
    text-align: right;
}

.hero-text h1 {
    font-family: "Bebas Neue";
    font-size: 80px;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px 5px #1d2124;

}

.hero-text p {
    font-family: "Calibri Light";
    letter-spacing: 0.2em;

}

.banner-container {
    width: 100%;
}

.img-info h2 {

    width: 100%;
    padding: 40px 20px 10px;
    font-family: "Bebas Kai";
    font-size: 50px;
    color: #062c33;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
}

.img-info p {

    width: 100%;
    padding: 0px 20px 10px;
    font-family: "Calibri Light";
    font-size: 20px;
    color: #062c33;
    line-height: 22px;
}

.nav-link {
    font-family: "Bebas Kai";
    letter-spacing: 0.4em;
}

.img-kappa {

    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    letter-spacing: 0.6em;
    opacity: 0.7;
    padding-bottom: 30px;
}

.navbar-brand:hover {

    opacity: 1;

}

@media only screen and (min-width: 1024px) {


    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .img-info h2 {

        padding: 10px 0px 0px;

    }

    .img-info p {

        padding: 20px 0px 0px;
    }


}

@media only screen and (max-width: 768px) {
    .hero-text h1 {

        font-size: 70px;

    }

    .wrapper {
        width: 60%;
        margin: 0 auto;
    }

    .img-info h2 {

        padding: 10px 0px 0px;

    }

    .img-info p {

        padding: 20px 0px 0px;
    }


}

@media only screen and (max-width: 375px) {

    .hero-text h1 {

        font-size: 60px;

    }

    .wrapper {
        width: 80%;
        margin: 0 auto;

    }

    .img-info h2 {

        padding: 30px 0px 0px;

    }

    .img-info p {

        padding: 20px 0px 0px;
    }

}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/img/landscape.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.line-dec {
    width: 60px;
    height: 2px;
    background-color: rgb(251, 255, 246);
    margin: 8px 17px;
}

.copyright {

    width: 100%;
    background-color: white;
    height: 40px;
    text-align: center;
    bottom: 0;
    position: relative;
    padding-top: 10px;

}

.copyright p {
    color: black;
    letter-spacing: 0.2em;
    font-size: 12px;
    font-family: "Bebas Kai";
    margin: auto;

}

.soundcloudEmbed {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.container {
    padding: 20px 0px 20px 0px;
}